# module repositories
polymerist/*

# large data directories
polymer_*/*
polymers_*/*
plasticizer*/*

# testing files
amine_symmetry.ipynb

# debug files
imports_for_profiling.py
import_times.*

# testing dirs
sdf_testing/*
energy_tables/*
polyid_test/*
polyid_scale/*
polyid_scale_completed/*

polyid_*/*
polyID_*/*

# stray files
**/__pycache__/*
.model.pt

log.lammps
out.lmp
tmp.in