# module repositories
polymerist/*

# large data directories
polymer_*/*
polymers_*/*
plasticizer*/*

# testing files
testing.ipynb
amine_symmetry.ipynb
src/monomer_data/subsample_NIPU.csv
*.job

# debug files
imports_for_profiling.py
import_times.*
openmm_testing.ipynb

# source data for polymer build jobs
# src/monomer_data
src/reactions
src/parameters

# testing dirs
sdf_testing/*
energy_tables/*
openmm_test/*

polyid_test/*
polyid_scale/*
polyid_scale_completed/*

polyid_*/*
polyID_*/*

# stray files
**/__pycache__/*
.model.pt
**/*.pyc

log.lammps
out.lmp
tmp.in
*.out